<h1>New Image</h1>

<% if @image.errors.any? %>
  <% @image.errors.full_messages.each do |msg| %>
    <p>
      <%= msg %>
    </p>
  <% end %>
<% end %>

<%= form_for @image do |f| %>
  <div class="">
    <%= f.label :photo_url, "Url of Photo" %>
    <%= f.text_field :photo_url %>
  </div>
  <div class="">
    <%= f.submit %>
  </div>
<% end %>
