<!DOCTYPE html>
<html>
<head>
  <title>Memes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if alert %>
    <p>
      <%= alert %>
    </p>
  <% end %>

  <% if notice %>
    <p>
      <%= notice %>
    </p>
  <% end %>

  <nav>
    <%= link_to 'Home', root_path %>

    <% if @current_user.present? %>
      <%= link_to 'Sign Out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', sign_in_path %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
